---
import '@neoflix/ui/css/bootstrap-grid.min.css'
import '@neoflix/ui/css/bootstrap-reboot.min.css'
import '@neoflix/ui/css/owl.carousel.min.css'
import '@neoflix/ui/css/main.css'

import User from '@neoflix/core/auth/user'
import Navigation from '@neoflix/ui/navigation'
import Footer from '@neoflix/ui/footer'

export interface Props {
	user?: User;
	title: string;
}

const { title, user } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation user={user} />

		<slot />
		<Footer />
	</body>
</html>
